#entrance {
  margin-top: 15px;
  text-align: center;
  min-width: 400px;
  width: 80%;
  max-width: 800px;
  margin: 15% auto 15% auto;
}

#container  {
  min-width: 600px;
  width: 100%;
  max-width: 1080px;
}

#log  {
  height: 400px;
  overflow-y: scroll;
}
